<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>Chat</title>
    <body>
        <strong>Let's talk in <%= room %></strong>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>
